---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---

<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %} {%- if not page.data.eleventyExcludeFromCollections %}
  <url>
    <loc>{{ page.url | absoluteUrl(site.url) }}</loc>
    <lastmod>{{ page.date | dateToRfc3339 }}</lastmod>
    <changefreq
      >{% if page.url == '/' %}weekly{% elif '/blog/' in page.url %}monthly{% else %}monthly{% endif %}</changefreq
    >
    <priority
      >{% if page.url == '/' %}1.0{% elif '/blog/' in page.url or '/projects/' in page.url %}0.8{% else %}0.5{% endif
      %}</priority
    >
  </url>
  {%- endif %} {%- endfor %}
</urlset>
